<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>卡片列表</title>
	<meta name="viewport" content="width=device-width">
	<link rel='stylesheet' href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<section style="height:40px;">&nbsp;</section>
<!-- partial:index.partial.html -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-12">
				<div class="float-right mb-xl-1">
					<nav class="navbar navbar-light bg-light">
						<div class="mr-4">
							<button class="btn btn-outline-danger" onclick="window.open('/', '_blank')">开始记忆</button>
							<button class="btn btn-outline-warning" onclick="window.open('/cards/add/index', '_blank')">
								添加卡片
							</button>
						</div>
						<form class="form-inline">
							<input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
						</form>
					</nav>
				</div>
				<table class="table table-striped">
					<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Front</th>
						<th scope="col">Known</th>
						<th scope="col">操作</th>
					</tr>
					</thead>
					<tbody>
                    {{range .cards}}
						<tr class="text-nowrap">
							<th scope="row">
                                {{.ID}}
							</th>
							<td class="d-inline-block text-truncate" style="max-width: 600px;overflow: {{.Front}}">
                                {{.Front}}
							</td>
							<td>
                                {{if eq .Known 1}}
								未知
								{{else if eq .Known 2}}
								已知
								{{else}}
								其他
								{{end}}
							</td>
							<td>
								<button class="btn btn-outline-primary" onclick="edit({{.ID}})">编辑</button>
                                {{if eq .Known 1}}
									<button class="btn btn-outline-info" onclick="mark_unknown({{.ID}})">标记为未知</button>
                                {{else}}
									<button class="btn btn-outline-info" onclick="mark_known({{.ID}})">标记为已知</button>
                                {{end}}
								<button class="btn btn-outline-danger" onclick="delete_card({{.ID}})">删除</button>
							</td>
						</tr>
                    {{end}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
<!-- partial -->
<script src='/assets/js/jquery-3.5.1.min.js'></script>
<script src='/assets/js/tether.min.js'></script>
<script src='/assets/js/bootstrap.min.js'></script>
<script src='/assets/js/holder.min.js'></script>
<script src="/assets/js/run_prettify.js"></script>
<script src="/assets/js/script.js"></script>
<script>
    function edit(id) {
        window.open(`/cards/edit/index?id=${id}`, "_blank")
    }

    function mark_known(id) {
        let data = {"id": `${id}`, "known": 2}
        $.ajax({
            url: "/cards/edit/known",
            data: JSON.stringify(data),
            method: "POST",
            contentType: "application/json",
        }).done(function () {
            console.log("down")
            location.reload()
        });
    }

    function mark_unknown(id) {
        let data = {"id": `${id}`, "known": 1}
        $.ajax({
            url: "/cards/edit/known",
            data: JSON.stringify(data),
            method: "POST",
            contentType: "application/json",
        }).done(function () {
            location.reload()
        });
    }

    function delete_card(id) {
        $.ajax({
            url: `/cards/delete?id=${id}`,
            method: "GET",
        }).done(function () {
            location.reload()
        });
    }
</script>
</body>
</html>
