<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>记忆</title>
	<meta name="viewport" content="width=device-width">

	<link rel='stylesheet' href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
<section style="height:40px;">&nbsp;</section>
<!-- partial:index.partial.html -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-12">
				<!-- Card Flip -->
				<input type="hidden" id="card_id" value="{{.card_id}}">
				<div class="card-flip">
					<div class="flip">
						<div class="front">
							<!-- front content -->
							<div class="card">
								<div class="card-body">
									<pre id="card_front" class="prettyprint"
										 style="border: none;height: 100%">{{.card_front}}</pre>
								</div>
							</div>
						</div>
						<div class="back">
							<!-- back content -->
							<div class="card">
								<div class="card-body">
									<pre id="card_back" class="prettyprint"
										 style="border: none;height: 100%">{{.card_back}}</pre>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Card Flip -->
			</div>
		</div>
		<div class="row top-buffer">
			<div class="col-sm-12 col-lg-12">
				<div class="d-flex justify-content-center">
					<button type="button" id="known" class=" btn btn-outline-success">已掌握</button>
					&nbsp
					<button type="button" id="prev" class="btn btn-outline-warning">上一个</button>
					&nbsp
					<button type="button" id="next" class=" btn btn-outline-warning">下一个</button>
					&nbsp
					<button type="button" data-state="front" id="flip" class="btn btn-outline-primary">
						翻&nbsp&nbsp&nbsp&nbsp转
					</button>
					&nbsp&nbsp&nbsp
				</div>
			</div>
		</div>
	</div>
</section>
<!-- partial -->
<script src='/assets/js/jquery-3.5.1.min.js'></script>
<script src='/assets/js/tether.min.js'></script>
<script src='/assets/js/bootstrap.min.js'></script>
<script src='/assets/js/holder.min.js'></script>
<script src="/assets/js/run_prettify.js"></script>
<script src="/assets/js/script.js"></script>
</body>
</html>
